@mixin flexBox($ff: column nowrap, $jc: center, $ai: center) {
  display: flex;
  flex-flow: $ff;
  justify-content: $jc;
  align-items: $ai;
}

@mixin btn($bg: $dark, $brdr: $dark, $clr: $light) {
  @include flexBox;
  padding: 1em 2em;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $bg;
  border: 2px solid $brdr;
  border-radius: 50em;
  width: 100%;
  color: $clr;
}
