@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$main-font: "Montserrat", sans-serif;

$light: #ffffff;
$dark: #000000;
$cta-bg: #121212;
$links-hover: #1ed760;
$shadow: #3e3c493d;
$main-bg: #efefef;
$promo-bg: #df0c8b;
$accent: #0d72ea;
$social: #222326;
$text: #d9dadc;
