@font-face {
  font-family: "meslolgs_nfregular";
  src: url("meslolgs_nf_regular-webfont.woff2") format("woff2"),
    url("meslolgs_nf_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$main-font: "meslolgs_nfregular", sans-serif;

$light: #ffffff;
$dark: #000000;
$cta-bg: #121212;
$links-hover: #1ed760;
$shadow: #3e3c493d;
$main-bg: #efefef;
$section-bg: #df0c8b;
$accent: #0d72ea;
$social: #222326;
$text: #919483;
